<header>
    <a class="logo" href="/dashboard/statistics">Boolean</a>

    <div class="profile-dropdown" href="#">
        <i class="fas fa-user"></i>

        <div class="profile-dropdown-content">
            <a href="/dashboard/profile">Profile</a>
            <a href="/salespersons/login">Sign Out</a>
        </div>
    </div>

    <div class="profile-dropdown menu">Menu</div>
</header>
