<!-- ... -->

<main class="wrapper">
   <div class="title">Sign In</div>
      <%- include ("./partials/messages"); %>
      <form action="/salespersons/login" method="POST"> 
         <div class="form-row">
            <div class="input-data">
               <input type="email" name="email">
               <div class="underline"></div>
               <label for="">Email Address</label>
            </div>
            <div class="input-data">
               <input type="password" name="password">
               <div class="underline"></div>
               <label for="">Password</label>
            </div>
         </div>
         <div class="form-row submit-btn">
            <div class="input-data">
               <div class="inner"></div>
               <input type="submit" value="Sign In">
            </div>
         </div>
         <div class="link"><a href="/salespersons/signUp">No Account ?<span>  Sign Up</span></a></div>
      </form>
</main>
