<!-- ... -->

<main class="wrapper">
   <div class="title">Sign Up</div>
      <form action="#"> 
         <div class="form-row">
            <div class="input-data">
               <input type="text" required>
               <div class="underline"></div>
               <label for="">First Name</label>
            </div>
            <div class="input-data">
               <input type="text" required>
               <div class="underline"></div>
               <label for="">Last Name</label>
            </div>
            <div class="input-data">
               <input type="email" required>
               <div class="underline"></div>
               <label for="">Email Address</label>
            </div>
            <div class="input-data">
               <input type="password" required>
               <div class="underline"></div>
               <label for="">Password</label>
            </div>
            <div class="input-data">
               <input type="password" required>
               <div class="underline"></div>
               <label for="">Confirm Password</label>
            </div>
         </div>
         <div class="form-row submit-btn">
            <div class="input-data">
               <div class="inner"></div>
               <input type="submit" value="submit">
            </div>
         </div>
         <div class="link"><a href="/salespersons/logIn">Have an account ?<span>  Log In</span></a></div>
      </form>
</main>