@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    font-family: "Poppins", sans-serif;
}

header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #BB2E3D;
}

.logo 
{
    cursor: pointer;
    color: #edf0f1;
    font-weight: 500;
    text-transform: uppercase;
}

.logo:hover 
{
    color: #17041E;
}

.profile-dropdown
{
    font-weight: 500;
    color: #17041E;
    padding: 3px 10px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
}

.profile-dropdown:hover 
{
    background-color: #17041E;
    color: #FFFFFF;
}

.profile-dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;
    right: 50px;
    border-radius: 5%;
}

.profile-dropdown-content a 
{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #2F0642;
}

.profile-dropdown-content a:hover 
{
    background-color: #E5D1B8;
    border-radius: 5%;
    color: #f9f9f9;;
}

.profile-dropdown:hover .profile-dropdown-content 
{
    display: block;
}

/* Mobile Nav */
.menu 
{
    display: none;
}

@media only screen and (max-width: 800px) 
{
    .profile-dropdown 
    {
        display: none;
    }

    .menu 
    {
        display: initial;
    }
}