@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    font-family: "Poppins", sans-serif;
}

header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #0D5C75;
}

.logo 
{
    cursor: pointer;
    color: #edf0f1;
    font-weight: 500;
    text-transform: uppercase;
}

.logo:hover 
{
    color: #0088a9;
}

.profile
{
    font-weight: 500;
    color: #edf0f1;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.profile:hover 
{
    background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu 
{
    display: none;
}

@media only screen and (max-width: 800px) 
{
    .profile 
    {
        display: none;
    }

    .menu 
    {
        display: initial;
    }
}